<!DOCTYPE html>
<html>
<hert>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>tsddemo</title>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="../javascrpt/index.js"></script>

    <style>
        .td-c {
            color: red;
            display: none;
        }
        
        #content {
            width: 100px;
            height: 200px;
            border: 1px solid red;
            color: rgb(200, 65, 125)
        }
    </style>

</hert>

<body>
    <div class="td-c">nihaoya..</div>
    <input type="button" class="" name="register" value="register">
    <input type="text" id="" style=" display:none" value="你好" width="200px">
    <div id="content">
        content
    </div>
</body>

</html>